.box {
  min-height: 50px;
  padding: 5px;
  margin: 5px;
  font-weight: 100;
  color: black;
}

.navbar-light .navbar-brand {
  position: relative;
  width: 100px;
  text-align: center;
  left: 15px;
  font-weight: 600;
  background-color: #009286;
  color: white;
}


/* Navbar settings */
.navbar {
  background-color: white !important; 
}

.navbar-nav .nav-item  {
  background-color: white !important; 
} 

.navbar{
  max-height: none; 
  padding: inherit;
}
.navbar div{
  margin: inherit; 
  background-color: white;  
}
.navbar-brand{
  padding: 10px !important; 
}


.active, .img-thumbnail:hover{
  border-color:#009286;
  border-width: 2px;
  
  max-width: 150px;
  height: auto;
}

.img-thumbnail{
  
  border-style: solid; 
  max-width: 150px;
  height: auto;
}




.skyblue {
  background: deepskyblue;
}

.purple {
  background: rebeccapurple;
}

.red {
  background: indianred;
}

.turquoise {
  background: 	mediumturquoise; 
}

.lightgray {
  background: 	lightgray;
}

.white {
  background: 	white;
}

body {
  background-color: lightgray;
}

h1 {
  color: rgb(0, 167, 170);
}

h2 {
  color: rgb(0, 167, 170);
}

 @media(max-width: 992px){
  .navbar-expand-lg{
  background-color: #009286 !important;
  } 